@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    /* background-image: url("../../public/Background2.png"); */
    /* background-size: contain; */
    /* background-position: 100% 100%; */
    /* background-position: center center;
    background-color: rgba(0,0,0, 0.5);  */
 
 


}

::placeholder {
    padding: 5px 12px;
    margin: 5px;
   
 }

 .edit-todo {
    width: 85%;
    /* font-size: 16px; */
    color: #0d0c0c;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #161515;



 }



